.a {
    position: fixed;
    left: 100px;
}

.hrr {
    background-color: black;
    width: 250px;
    height: 1px;
    position: fixed;
    left: 0px;
}

.garis1{
    position: fixed;
    top: -4px;
    left: 250px;
    width: 1px;
    height: 30px;
}

.blue {
    background-color: aqua;
    color: blue;
}

.hal1_label {
    position: fixed;
    top: 35px;
    left: 30px;
}

.hal1_label2 {
    position: fixed;
    left: 10px;
    top: 80px;
}

.note {
    position: fixed;
    right: 20px;
}

.btn_sebelumnya {
    position: fixed;
    left: 300px;
}